html {
    background-color: rgb(243, 238, 235);
    font-family: Noto Sans;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 10px 1px;
    background-color: rgba(159, 145, 204);
}

header nav li {
    list-style: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    gap: 5px;

}

nav ul li a {
    color: rgb(245, 242, 242);
    text-decoration: none;
}

.uno {
    margin: 20px 2px;
    height: 24px;
    width: 130px;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 17px;
}

a:hover {
    color: blueviolet;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    transition-property: border-top, border-bottom;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*----------seccion hola------------*/
.hola {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;

}

.yo {
    width: 280px;
    height: 280px;
    border-radius: 300px;
    /*background-image: url(imagen/yo.png);*/
    background-position: center;
    background-size: cover;
    align-self: flex-end;
    position: relative;
    left: 250px;
    top: 80px;
    filter: opacity(90%);
    box-shadow: 15px 5px 10px #48529944;
}

.container-hola {
    width: 50%;
    align-self: flex-start;
    position: relative;
    bottom: 100px;
    left: 60px;


}

.container-hola h2 {
    padding: 20px;
    line-height: -30px;
    font-size: 40px;
}

span {
    color: rgb(67, 40, 156);
    font-size: 60px;
}

.parrafo {
    text-align: center;
    position: relative;
    bottom: 70px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(180, 166, 226);
    margin-left: 30px;
    border: none;
    text-decoration: none;
    margin-top: 30px;
}

.boton {
    color: white;
    text-decoration: none;

}

.boton:hover {
    cursor: pointer;
    border: none;
}

/*---------seccion----Conocimiento--------------*/
.container-conocimiento {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    height: 100vh;

}

.text1 {
    width: 100%;
    margin: 40px;
    text-align: center;
}

.text1 h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.lenguaje {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    padding-top: 80px;


}

.leng {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(109, 109, 105);
    border-radius: 5px;
    box-shadow: -5px -5px 20px rgba(159, 145, 204);
}

.html {
    position: relative;
    top: 30px;
    left: 30px;
}

.css {
    position: relative;
    right: 40px;
}

/**-------seccion- mis-proyctos----------*/
.container-proyecto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin-bottom: 100px;

}

.lenguaje {
    width: 90%;
}

.container-img {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(109, 109, 105);
    border-radius: 5px;
    box-shadow: -5px -5px 20px rgba(159, 145, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.container-img img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

/*-------------seccion---contactos--------------*/
.container-contacto {
    display: flex;
    height: auto;
    width: 90%;
    box-shadow: -5px -5px 20px #48529944;
    margin: 50px 0px 40px 40px;


}

.redes {
    width: 60%;
    height: 600px;
    padding: 20px;
}

.redes h2 {
    padding-bottom: 20px;
}

.redes p {
    padding-bottom: 20px;
}

.escribir {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 20px;

}

.escribir h3 {
    margin: 10px;
    padding-bottom: 30px;
}

.nombre {
    width: 177px;
    text-align: justify;
    margin-left: 10px;
    position: relative;
}

.apellido {
    align-self: flex-end;
    position: relative;
    bottom: 46px;
    right: 170px;
}

.email {
    position: relative;
    bottom: 30px;
    left: 10px;
}

.email input {
    width: 300px;
}

.mensaje {
    margin-left: 10px;
}

.mensaje input {

    width: 90%;
    height: 40vh;
}

input {
    border-radius: 10px;
    color: rgb(159, 145, 204);
    border-color: aliceblue;
}

input[type=submit] {
    margin: 10px;
    cursor: pointer;
    color: rgb(253, 251, 253);
    height: 30px;
    width: 60px;
    background-color: rgba(159, 145, 204);

}

/*-----------footer---*/
footer {
    width: 100%;
    height: 130px;
    background-color: rgba(159, 145, 204);
    color: white;

}

.lista {
    text-align: center;
}

.lista p {
    text-align: center;
    margin-bottom: 20px;
}

footer ul li {
    padding: 10px;
}

footer ul li a {
    color: whitesmoke;
}

/*------------ media------------*/
@media screen and (max-width:800px) {

    header {
        justify-content: center;
    }

    /* seccion Hola*/
    .hola {
        margin: 0;

    }

    .container-hola {
        position: relative;
        top: 30px;
    }

    .container-hola h2 {
        margin-top: 70px;
        padding-top: 40px;

    }

    .yo {
        width: 240px;
        height: 240px;
        position: absolute;
        left: 350px;
        margin-top: 50px;

    }

    .parrafo {

        position: relative;
        top: 40px;
        margin-left: 50px;
    }

    .btn {
        margin-left: 0;
        margin-bottom: 100px;
    }

    /*---conocimiento*/
    .container-conocimiento {
        align-items: flex-start;
        height: auto;
    }

    .text1 {
        width: 80%;
        text-align: center;

    }

    .leng {
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
    }

    .lenguaje {
        justify-content: space-around;
        width: 100%;
        padding-top: 10px;

    }

    .html {
        position: relative;
        top: 10px;
        left: 10px;
    }

    .css {
        position: relative;
        bottom: 20px;
        right: 60px;

    }

    .python {
        position: relative;
        bottom: 20px;
        right: 20px;
    }

    /*Mis proyectos*/
    .container-proyecto {
        height: 80%;
    }

    .container-img {
        width: 200px;
        height: 200px;
        border: 1px solid rgb(109, 109, 105);
        border-radius: 5px;
        box-shadow: -5px -5px 20px rgba(159, 145, 204);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;

    }

    .container-img img {
        width: 150px;
        height: 150px;
        border: 1px solid black;
    }
 /* Seccion contacto*/
    .container-contacto {
        width: 90%;
        margin: 30px;
        height: auto;
        flex-direction: column;
    }

    .redes {
        height: 300px;
        width: 90%;
        padding-left: 40px;
    }

    .escribir {

        position: relative;
    }

    .mensaje input {
        width: 95%;

    }
}

@media screen and (max-width:566px) {

    .uno {
        margin: 1px;
        padding: 0;
    }
/*Seccion Hola*/
    .hola {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 600px;
    }


    .container-hola {
        width: 90%;
        text-align: center;

    }

    .imagen {
        position: absolute;
        left: 200px;
        top: 50px;
        margin: 0;
        width: 200px;
        height: 200px;
        background-image: url(imagen/yo.png);
        background-size: cover;
        background-position: center;
        border-radius: 200px;
        filter: opacity(90%);
        box-shadow: 15px 5px 10px #48529944;

    }


    /*     conocimiento     */

    .lenguaje {
        justify-content: space-evenly;
        width: 100%;
        padding-top: 10px;
        margin-left: 20px;

    }

    .container-img {
        width: 160px;
        height: 200px;
        border: 1px solid rgb(109, 109, 105);
        border-radius: 5px;
        box-shadow: -5px -5px 20px rgba(159, 145, 204);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .container-img img {
        width: 120px;
        height: 130px;
        border: 1px solid black;
    }

    .container-img p {
        padding-top: 10px;
        font-size: 14px;
    }

    .mensaje input {
        width: 70%;
        height: 350px;
    }
}
@media screen and (max-width:500px) {
 .uno{
    width: auto;
    margin-right: 20px;
 }
.imagen{ position: absolute;
        left: 150px;
        top: 60px;
        
    }
 .container-hola{
    left: 20px;
 }
 .container-hola h2 {
    padding: 0;
    
    font-size: 30px;
    
    
}

span {
    font-size: 40px;
}
.parrafo {
    font-size: 14px;
    margin: 20px;
}
/*Seccion Conocimiento*/
.container-conocimiento{
    width: 90%;
    height: 80vh;
    
}
 .leng{
    margin-left: 20px;
 }
/*Seccion  Mis Proyectos*/
.container-proyecto{
    width: 80%;
    height: 90%;
}
}